.seccion .titulo_seccion {
    float: inline-start;
    width: 40%;
    height: 500px;
    color: #f8d5ad;
    border-radius: 15px;
    background-color: #130902;
    box-shadow: 1px 0 15px rgba(255, 102, 0, 3.5);
    margin: 50px;
    padding: 15px;
}

.seccion .titulo_seccion img {
    width: 100%;
    border-radius: 12px;
    position: relative;
    top: 80px;
}

.seccion .titulo_seccion a {
    font-size: 20px;
    padding: 35px;
    text-decoration: none;
    color: white;
    position: relative;
    left: 220px;
    bottom: 8px;
    top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 1px orangered;
    border-radius: 25px;
    margin: -40px;
}

.seccion .titulo_seccion a:hover {
    background-color: orangered;
}
